.player-container

{
	display: flex;
	width: 100%;
}

.img-container
{
	flex-basis: 30%;
}

img
{
	width: 350px;
	height: 350px;
}
.clearfix {
    overflow: auto;
}
div.clearfix {
    border: 3px solid #4CAF50;
    padding: 5px;
}
.card {
  width: 150px;                 /* Set width of cards */
  border: 1px solid #EF9A9A;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
}
.card-header {
  color: #D32F2F;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #EF9A9A;
  background-color: #FFEBEE;
  padding: 5px 10px;
}
.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (+axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}
.material-icons {
  font-size: 36px;
  color: #D32F2F;
  margin-bottom: 5px;
}
.main-description {
  color: #D32F2F;
  font-size: 12px;
  text-align: center;
}

.icons-container
{
  padding-left: 10%;
	display: block;                
  flex-direction: row;  
  width: auto;
  height: auto;
}
main
{
  padding: 10%;
}

.power-container
{
  padding-left: 9em;
  text-align: center;
  color:red;
}
.click-button
{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.click-display-bottomleft
  {
  position:absolute;
  left:0;
  bottom:0
  }
.click-large
{
  font-size:18px !important
}

.click-display-container
{
  position:relative
}
.click-padding-16
{
  padding-top:16px!important;
  padding-bottom:16px!important
}

.click-black,.click-hover-black:hover
{
  color:#fff!important;
  background-color:#000!important
}

.click-display-left
{
  position:absolute;
  top:50%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%)
}
.click-display-right
{
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%)
}
#Especie
{
  display: none;
  visibility:hidden;
}

@media only screen and (max-width: 600px){

  .power-container
  {
      padding-left: 0%;
  }
  .player-container
  {

     width: 100%;
    display: block;                
  

  }
  img
  {
    width: 150px;
    height: 150PX;
  }
  div.clearfix 
  {
    margin-top: 15%;
  }
  .icons-container {
    padding-left: 0%;
  }
  h3
  {
    font-size: 0.8em;
  }
  .card-header {

    font-size: 14px;
  }
}