.sin-personaje
{
	font-size: 28px;
	margin-left: 25%;
	margin-top: 70px;
	position: fixed;
	text-align: center;
	align-content: center;
}

.sin-personaje img
{

	width: 80%;
}
body button
{
    font-family: 'Hanalei Fill';
}