.special-container

{
	padding: 1% 10%;

	display: flex;                
  	flex-direction: row; 
}
.principal-container

{
	padding: 1% 10%;
	display: flex;                
  	flex-direction: row; 
}
