

.bar-containers
{
    margin-top: 58px;
    display: flex;
    width: 100%;
    height: 19em;

}


body
{
	height: 100%;
	font-family: 'Baloo+Chettan';font-size: 25px;
}
.left {
	flex-basis: 10%;
}

.right {
	flex-basis: 15%;
}
.principal
{

	flex-basis: 80%;


}
.mapa{
	
	width: 100%;
	height: 100%;

}
.container-vertical
{
	display: flex;
	flex-direction:column;
}
.bar-vertical
{
	flex-basis: 80%;
	

}
.bar-botton
{
	 
	flex-basis: 20%;
}

