

.bar-containers
{
    margin-top: 58px;
    display: flex;
    width: 100%;
    height: 19em;

}


body
{
	height: 100%;
	font-family: 'Baloo+Chettan';font-size: 25px;
}
.left {
	flex-basis: 10%;
}

.right {
	flex-basis: 15%;
}
.principal
{

	flex-basis: 80%;


}
.mapa{
	
	width: 100%;
	height: 100%;

}
.container-vertical
{
	display: flex;
	flex-direction:column;
}
.bar-vertical
{
	flex-basis: 80%;
	

}
.bar-botton
{
	 
	flex-basis: 20%;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: black;
	background: ;
	background: -moz-linear-gradient(black);
	background: -webkit-linear-gradient(black);
	background: -o-linear-gradient(black);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: black;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: red; }
.modalInput{
	 width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
     border: 2px solid red;
    border-radius: 4px;

}
.tituloModal{
	font-size: 24px;
	color: white;
}
.modalSubmit{
	 background-color: red;
    border: none;
    color: white;
    font-size: 20px; 
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

   
}
/* para subir la img del usuario */
	 .upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}