.login > .container
{
	position: absolute;
    top: 30%;
    left: 35%;
    color: white;
    width: 35em;
}

.row.justify-content-center
{
	padding: 5%;
    height: 192px;
   
}
.loginbox{
	margin: 8% 41%;
	display: flex;
	font-size: 30px;
}
.loginboxreg{
	display:flex;
margin-left: 600px;
    font-size: 18px;
    margin: 4% 41%;
}
.login {
height: 100%;
    border: 1px solid #42464b;
    border-radius: 6px;
    /* height: 395px; */
    /* margin: 20px auto 0; */
    background-color: orange;
}
.titulolog{
	margin: 10px;
	font-size: 40px;
}
.bodylog{
	margin-bottom: 20px;
}
.label{
	margin-bottom: 20px;

}
.form-control 
{
	    font-size: 23px;
}

.btn-login
{
	    font-size: 30px;
	    width: 100%;
}
.btn-primary
{
	width: 100%;
}
.input-mail
{
	font-size: 23px;
}