.login > .container
{
	position: absolute;
    top: 30%;
    left: 35%;
    color: white;
    width: 35em;
}

.row.justify-content-center
{
	padding: 5%;
    height: 192px;
   
}
.loginbox{
	margin: 50px;
margin-left: 600px;


}
.login {
	
	position: all;
  
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 395px;
  margin: 20px auto 0;
  
  background-color: orange;
}
.titulolog{
	margin: 20px;
}
.bodylog{
	margin-bottom: 20px;
}
.label{
	margin-bottom: 20px;

}
