.sideplay {
   
    height: 28rem;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
  
}

.sideplay a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 11px;
    color: #818181;
    display: block;
}

.sideplay a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sideplay {padding-top: 15px;}
    .sideplay a {font-size: 18px;}
}
.datosPlayer{
    margin-bottom: 1px;
}