.sidenav {
    height: 100%;
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    text-decoration: none;

    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
ul.ul-menu{
    display: flex;
    flex-direction: column;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media only screen and (max-width: 1173px){
    .sidenav
    {
        width:100%;
        padding-top: 0%;
    }
    h1{
        display:none;
    }
    ul.ul-menu{

    flex-direction: row;
}
.bar-vertical {
    flex-basis: 80%;
    height: 21em;
}

}