/* Style the tab */
a
{
    text-decoration: none
}
.tab {
    float: left;
    border: 9px gray inset;
    background-color: #f1f1f1;
    width: 50%;
    height: 15rem;

    flex-basis: 100%;
    padding: 0 1%;

}
.lista{
overflow: scroll;
    max-height: 180px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    border:black 1px solid;
    display: block;
    background-color: inherit;
    color: black;
    /*padding: 22px 16px;*/
    width: 99%;
   margin: 1px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;

}
.games-container
{
    height: 16rem;
    display:flex;
    z-index: 1;
   border: 9px gray inset;
    
    bottom: 0%;
    width: 100%;
    background-color: red;
    color: black;
    text-align: center;
}
}
.tab    
{
position: relative;

}
.tab > h2
{
    text-align: center;
    padding:0%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}
#app
{
    background-color: #f1f1f1;
    border: 4px solid red;
    width: 28%;

}
.clase
{
   
  
     background-color: #ff4000; 
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#img-1{

    padding-left:10%;
    max-width: 200px;
    max-height: 200px;
}


h4
{
    margin: 1% 1% 1% 25%;
}
.tablinks
{
    text-align: center;
}
html,body { 
  overflow:hidden; 

}
@media only screen and (max-width: 1173px){
    #app{
        flex-basis: 80%;
    }
    .clase{
        width: 41%;
    }
    #img-1 {


    width: 100%;
  /*background-color: black;*/

}
@media only screen and (max-width: 600px){


    #img-1 {

        padding-left: 0%;


    }
.clase {
    width: 98%;
        height: 48px;
    position: relative; 
}

}
.fotoPerfil{
    
    margin-left: 5px;
    margin-right: 5px;
}
.datosPlayer{
    margin:0.5rem; 
    color: red;
}
.botonEditar{
     background-color: red; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}